<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href='fh.png' type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="story3_landing.html"><img src="fh.png" width="80" height="80"></a>
    			</div>
    			<ul class="nav navbar-nav">
      			<li class="active"><a href="#"><img src="about_act.png" width="75" height="75"></a></li>
      			<li><a href="story3_profile.html"><img src="prof_pas.png" width="75" height="75"></a></li>
      			<li><a href="story3_portofolio.html"><img src="port_pas.png" width="75" height="75"></a></li>
      			<li><a href="story3_gallery.html"><img src="gal_pas.png" width="75" height="75"></a></li>
    			</ul>
  			</div>
</nav>
		<h3><br></h3>
		<img src="q.png" height="50" width="50">
		
		<h3>ABOUT ME</h3>
		<p>Greetings, i am Ferdinand, from Universitas Indonesia. <br>I’m pursuing my bachelor degree in Information System field. <br>Technology, writing and art are fields that i'm really into. <br>I was born at Jakarta, January 13th 2001. I lived in Central Jakarta. <br>I'd love to write, do the lettering and crossword in my sparetime.</p>
	<div class="images">
		<a href="tel:+6287880069007" ><img src="phone.png" height="170" width="170"></a>
		<img height="100" width="100">
		<a href="mailto:ferdiihfz@gmail.com?Subject=Hello" ><img src="mail.png"  height="170" width="170"></a>
		<br><br><br><br>
	</div>

		<img src="q.png" height="50" width="50" >

	<h3>SOCIAL MEDIA</h3>
	<div class="images">
		<a href="https://www.linkedin.com/in/ferdinandhf/" target="_blank"><img src="link.png"  height="100" width="100">
			<img height="50" width="50">
		<a href="https://www.instagram.com/ferrrdos" target="_blank"><img src="ig.png"  height="100" width="100">
			<img height="50" width="50">
		<a href="https://www.twitter.com/wtferdos" target="_blank"><img src="tw.png"  height="100" width="100">
			<img height="50" width="50">
		<a href="https://id.pinterest.com/ferdiihfz/" target="_blank"><img src="pin.png"  height="100" width="100">
	</div>

	</div>
</body>