<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href='fh.png' type='image/x-icon'/ >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- Connect HTML with CSS file -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/story3_about.css' %}">

   <!-- Set Montserrat from Google Font, as the main font -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
	<div class="face">
		<nav class="navbar navbar-default navbar-fixed-top">
 			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="story3_landing.html"><img src="fh.png" width="80" height="80"></a>
    			</div>
    			<ul class="nav navbar-nav">
      			<li><a href="story3_about.html"><img src="about_pas.png" width="75" height="75"></a></li>
      			<li><a href="story3_profile.html"><img src="prof_pas.png" width="75" height="75"></a></li>
      			<li><a href="story3_portofolio.html"><img src="port_pas.png" width="75" height="75"></a></li>
      			<li class="active"><a href="#"><img src="gal_act.png" width="75" height="75"></a></li>
    			</ul>
  			</div>
</nav>
		<h3><br></h3>
		<img src="q.png" height="50" width="50">
		
		<h3>GALLERY</h3>
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-sm-6"><img src="hums.jpg" height="50%" width="70%"></div>
		    <div class="col-sm-6"><img src="hums2.jpg" height="50%" width="70%"></div>
		  </div>
    </div>
	</div>
</body>